<?xml version="1.0"?>
<configuration>

	<connectionStrings>
		<add name="MyDB"
		  connectionString="Data Source=DESKTOP-SID4RRJ;
		  Initial Catalog=VolunteerClub;Integrated Security=True"/>
	</connectionStrings>
	
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
